doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/css/authStyles.css")
    title Login
    body
        #title
        h1 Welcome to SpoiledGPT
        #myForm
            h2 Select a way to authenticate
            #auth-buttons
                button#signup
                    a(href="/auth/register") Sign up
                button
                    a(href="/auth/login") Log in
