doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/css/authStyles.css")
    title Login
    body
        #title
        if username
            h1 Hello, #{username}
        else
            h1 Hello
        #myForm
            if !username
                span#error-textInput.error-message
                label Please, enter your username to login
                input(type="text", id="textInput", placeholder="username")
            span#error-passwordInput.error-message
            label Please, enter your password to login
            input(type="password", id="passwordInput", placeholder="password")
            button#submit Submit
            div#results
        script.
            window.username = "#{username}";
        script(src="/js/authScripts/login.js")