body, html {
    height: 100%;
    margin: 0;
}

header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ai-icon a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

#ai-icon img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

#ai-icon p, #summarized-title p, #model-description {
    margin: 0;
    color: #333;
    font-weight: bold;
}

#summarized-title, #model {
    display: flex;
    align-items: center;
}

#summarized-title {
    cursor: pointer;
    position: relative;
}

#summarized-title:hover {
    text-decoration: underline;
}

#model {
    flex-direction: column;
}

#model-selector {
    border-color: transparent;
    appearance: none;
    text-align: center;
    width: 5em;
    cursor: pointer;
    background-color: transparent;
    color: #333;
}

#model-selector:focus {
    outline: none;
    appearance: none;
}

#model p {
    color: #333;
}

main {
    height: calc(100% - 12.5em);
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

#chat-content {
    width: 100%;
    padding: 1em;
    overflow-y: auto;
}

#chat-content::-webkit-scrollbar {
    display: none;
}

#chat-content p {
    display: inline-block;
    padding: 0.75em;
}

#chat-content .user {
    border-radius: 15px 0 15px 15px;
    background-color: #dcf8c6;
}

#chat-content .assistant {
    border-radius: 0 15px 15px 15px;
    background-color: #f1f0f0;
    text-align: left;
}

#chat-content i {
    cursor: pointer;
}

.fa-pencil-alt, .fa-trash-alt, .fa-copy, .fa-redo {
    font-size: 14px;
    color: #999;
}

.fa-copy, .fa-redo, .fa-trash-alt, .fa-pencil-alt {
    transform: translateY(-0.5em);
}

.fa-pencil-alt, .fa-trash-alt {
    margin-right: 0.5em;
}

.fa-copy, .fa-redo {
    margin-left: 0.5em;
}

.fa-pencil-alt:hover, .fa-trash-alt:hover, .fa-copy:hover, .fa-redo:hover {
    color: #333;
}

#message-send {
    align-self: center;
    border: 1px solid #1a2a29;
    border-radius: 100px;
    position: fixed;
    bottom: 2em;
    width: 50%;
    padding: 0.5em;
}

#message-send input {
    background: transparent;
    border: none;
    width: 95%;
    height: 2em;
    border-radius: 100px;
    padding-left: 0.5em;
}

input:focus {
    outline: none;
}

#message-send button {
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 100px;
    background-color: #1a2a29;
    color: #fff;
    cursor: pointer;
}

#edit-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#edit-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button-group {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

#save-button, #cancel-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#save-button {
    background-color: #4CAF50;
    color: white;
}

#cancel-button {
    background-color: #f0f0f0;
    color: black;
}

#summary-modal {
    position: absolute;
    z-index: 1;
    left: 47.5%;
    top: 15.5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

#summary-modal .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
}

#summary-modal button {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

#summary-modal button:hover {
    color: #4CAF50;
}